_includes/contact.html
<section class="contact"><div class="content-wrapper"><h1 class="section-title">Contact Me</h1><p class="section-intro">..get in touch with me...</p><form action="https://formspree.io/me@philipbelcher.com" method="POST" id="contact-form"><div class="form-group">       <input type="text" name="name"/><label>Your Name</label></div><div class="form-group"><input type="email" name="_replyto"/><label>Your Email Address</label></div><div class="form-group form-group-wide">       <textarea form="contact-form" type="text" name="message"></textarea><label>Your Message</label></div><input type="submit" value="Send" class="button"/></form></div></section>

_jadefiles/contact.jade
section.contact
  .content-wrapper
    h1.section-title Contact Me
    p.section-intro ..get in touch with me...
    
    form(action="https://formspree.io/me@philipbelcher.com" method="POST")#contact-form
      .form-group        
        input(type="text" name="name" )
        label Your Name
      .form-group
        input(type="email" name="_replyto" )
        label Your Email Address
      .form-group.form-group-wide        
        textarea(form="contact-form" type="text" name="message" )
        label Your Message
      input(type="submit" value="Send").button
