_includes/header.html
<header><div class="header-wrapper"><div class="menu-wrapper"><h1 class="logo">Philip Belcher</h1></div><h2 class="intro-text">Good <span id="timeofday">day</span>!</h2><h3 class="intro-text">I'm Philip Belcher, a designer and developer based in the North East of England</h3><a href="#skills" class="button cta">find out more about me&nbsp;&nbsp;
{% icon fa-caret-down %}</a><br/><br/><a href="/cv.pdf" class="button cta ctasmall">or download my CV&nbsp;&nbsp;
{% icon fa-cloud-download %}</a></div></header>

_jadefiles/header.jade
header
  .header-wrapper
    .menu-wrapper
      h1.logo Philip Belcher


    h2.intro-text Good #[span#timeofday day]!
    
    h3.intro-text I'm Philip Belcher, a designer and developer based in the North East of England
    
    a(href="#skills").button.cta find out more about me&nbsp;&nbsp;
      {% icon fa-caret-down %}
      
    br
    br
    
    a(href="/cv.pdf").button.cta.ctasmall or download my CV&nbsp;&nbsp;
      {% icon fa-cloud-download %}
