_jadefiles/skills.jade
mixin skill(image, name, desc)
  li.skill
    .card
      .img-container
        img(src="assets/img/skills/#{image}").hero
      .content
        h3 #{name}
        p #{desc}

section.skills#skills
  .content-wrapper
    h1.section-title skills
    p.section-intro ...let's have a look at some of the things I can do...
    
    ul.grid.skill-list
      +skill('website-creation.jpg','Website Creation', 'Full-stack engineering; designing and developing basic, static webpages through to fully-fledged content management systems')
      +skill('graphics-design.jpg','Graphics Design', 'a firm grasp of the underlying principles of design allows me to create a wide range of graphics')
      +skill('app-creation.jpg','Mobile Apps', 'cross-platform app design and development, meaning they run on both Android and iOS devices')
      +skill('print-media.jpg','Print Media', 'from documents through to large banners and full colour glossy brochures')
      +skill('branding.jpg','Branding', 'including  design, business cards and promotional materials')
      +skill('interactive-media.jpg','Interactive Media', 'games and other forms of interactive media designed to engage with users')
      +skill('illustration.jpg','Illustration', 'sketching and digital art creation')
    
    a(href="#skill-details").button.cta.expandyskills view more skills detail
  
    
section.skill-details#skill-details
  .content-wrapper
    h1.section-title.subsection-title skills in more detail
    p.section-intro ...let's get into the nitty-gritty....
    
    .skills-detail-list
      h2 Website Creation
      ul
        li HTML
        li CSS/SASS/Bourbon
        li Jade/Pug
        li PHP
        li Joomla CMS 
        li Javascript/ jQuery
        li Angular 2
        li Jekyll - This site was built using Jekyll!
        li Django - Starting to develop my skills in this
        li Search Engine Optimisation knowledge
      
      h2 Graphics Design
      ul
        li Adobe Photoshop
        li Adobe Illustrator
          
      h2 Mobile Apps
      ul
        li Ionic 2 framework - Cross-platform hybrid app development
        li Cordova
        li Flex framework
      
      h2 Print Media
      ul
        li Adobe InDesign
        li Large banners
        li Glossy, full-page brochures 
        li Posters
          
      h2 Branding
      ul
        li Logo vector creation
        li Letterheads
        li Business cards
        li Social media branding
        
      br
      
      h2 Interactive Media
      ul
        li Flash animation
        li Adobe After Effects - admittedly at a basic level at this point
        li CSS animation
          
      h2 Illustration
      ul
        li Adobe Photoshop
        li Adobe Illustrator
        li Procreate app on iPad with stylus
      
      h2 Other skills
      ul
        li Knowledge of Version Control - primarily Git
        li Knowledge of Gulp, Bower, NodeJS 
        li Object-Oriented Programming knowledge     
        li Basic networking knowledge 
        li Experience with Windows, OSX, Linux, Android and iOS systems
        li 15+ years of PC troubleshooting
        li 15+ years of computer build experience 
        li Knowledge of current UK education system

    
        
    
        
        

_includes/skills.html
<section id="skills" class="skills"><div class="content-wrapper"><h1 class="section-title">skills</h1><p class="section-intro">...let's have a look at some of the things I can do...</p><ul class="grid skill-list"><li class="skill"><div class="card"><div class="img-container"><img src="assets/img/skills/website-creation.jpg" class="hero"/></div><div class="content"><h3>Website Creation</h3><p>Full-stack engineering; designing and developing basic, static webpages through to fully-fledged content management systems</p></div></div></li><li class="skill"><div class="card"><div class="img-container"><img src="assets/img/skills/graphics-design.jpg" class="hero"/></div><div class="content"><h3>Graphics Design</h3><p>a firm grasp of the underlying principles of design allows me to create a wide range of graphics</p></div></div></li><li class="skill"><div class="card"><div class="img-container"><img src="assets/img/skills/app-creation.jpg" class="hero"/></div><div class="content"><h3>Mobile Apps</h3><p>cross-platform app design and development, meaning they run on both Android and iOS devices</p></div></div></li><li class="skill"><div class="card"><div class="img-container"><img src="assets/img/skills/print-media.jpg" class="hero"/></div><div class="content"><h3>Print Media</h3><p>from documents through to large banners and full colour glossy brochures</p></div></div></li><li class="skill"><div class="card"><div class="img-container"><img src="assets/img/skills/branding.jpg" class="hero"/></div><div class="content"><h3>Branding</h3><p>including  design, business cards and promotional materials</p></div></div></li><li class="skill"><div class="card"><div class="img-container"><img src="assets/img/skills/interactive-media.jpg" class="hero"/></div><div class="content"><h3>Interactive Media</h3><p>games and other forms of interactive media designed to engage with users</p></div></div></li><li class="skill"><div class="card"><div class="img-container"><img src="assets/img/skills/illustration.jpg" class="hero"/></div><div class="content"><h3>Illustration</h3><p>sketching and digital art creation</p></div></div></li></ul><a href="#skill-details" class="button cta expandyskills">view more skills detail</a></div></section><section id="skill-details" class="skill-details"><div class="content-wrapper"><h1 class="section-title subsection-title">skills in more detail</h1><p class="section-intro">...let's get into the nitty-gritty....</p><div class="skills-detail-list"><h2>Website Creation</h2><ul><li>HTML</li><li>CSS/SASS/Bourbon</li><li>Jade/Pug</li><li>PHP</li><li>Joomla CMS </li><li>Javascript/ jQuery</li><li>Angular 2</li><li>Jekyll - This site was built using Jekyll!</li><li>Django - Starting to develop my skills in this</li><li>Search Engine Optimisation knowledge</li></ul><h2>Graphics Design</h2><ul><li>Adobe Photoshop</li><li>Adobe Illustrator</li></ul><h2>Mobile Apps</h2><ul><li>Ionic 2 framework - Cross-platform hybrid app development</li><li>Cordova</li><li>Flex framework</li></ul><h2>Print Media</h2><ul><li>Adobe InDesign</li><li>Large banners</li><li>Glossy, full-page brochures </li><li>Posters</li></ul><h2>Branding</h2><ul><li>Logo vector creation</li><li>Letterheads</li><li>Business cards</li><li>Social media branding</li></ul><br/><h2>Interactive Media</h2><ul><li>Flash animation</li><li>Adobe After Effects - admittedly at a basic level at this point</li><li>CSS animation</li></ul><h2>Illustration</h2><ul><li>Adobe Photoshop</li><li>Adobe Illustrator</li><li>Procreate app on iPad with stylus</li></ul><h2>Other skills</h2><ul><li>Knowledge of Version Control - primarily Git</li><li>Knowledge of Gulp, Bower, NodeJS </li><li>Object-Oriented Programming knowledge     </li><li>Basic networking knowledge </li><li>Experience with Windows, OSX, Linux, Android and iOS systems</li><li>15+ years of PC troubleshooting</li><li>15+ years of computer build experience </li><li>Knowledge of current UK education system</li></ul></div></div></section>
